# Environment variables
# Copie este arquivo para .env.local e preencha com suas informações

# URLs das redes sociais
REACT_APP_GITHUB_URL=https://github.com/seuusuario
REACT_APP_LINKEDIN_URL=https://linkedin.com/in/seuusuario

# Informações pessoais
REACT_APP_NOME=Ronaldo
REACT_APP_SOBRENOME=César
REACT_APP_CARGO=Desenvolvedor Full Stack Web
