# Environment variables
# Copie este arquivo para .env.local e preencha com suas informações

# URLs das redes sociais
REACT_APP_GITHUB_URL=https://github.com/ronaldozx
REACT_APP_LINKEDIN_URL=https://www.linkedin.com/in/ronaldo-c%C3%A9sar/

# Informações pessoais
REACT_APP_NOME=Ronaldo
REACT_APP_SOBRENOME=César
REACT_APP_CARGO=Desenvolvedor Full Stack Web
