html{
    scroll-behavior: smooth;
}


.nav-link:visited{
    color: white;
    font-family: "Anton SC", sans-serif ;
    font-size: 16px;
    margin-right: 50px;
    font-weight: bold;
transition: all 0.5s ease;
}
.conteudo {
    width: 450px;
}
.collapse{
    text-align: center;
    justify-content: center;
}
.nav-link{
    color: white;
    font-family: "Anton SC", sans-serif ;
    font-size: 16px;
    margin-right: 50px;
    font-weight: bold;
    height: 100%;
    transition: all 0.5s ease;
}
.nav-link:hover{
    text-shadow: 0 0 5px #26b9dd;
    color:#26b9dd ;
    
}
nav{
    background-color: #1D1E22;
}
.divCont{
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.titulo{
    font-size: 25px;
    color: rgb(212, 212, 212);
    font-family: "Anton SC", sans-serif ;
    width: 100%;
    transition: linear 0.5s;
}

.divLinha{
    margin-top: 50px;
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
}
.divLinhaBranca{
    justify-content: center;
    background-color: white;
    height: 1px;
    width: 400px;
}
.divApre{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:center;
    height: 97vh;
    margin: 0px;
}
.apreTitulo{
    font-size: 50px;
    color: blue;
    font-family: "Open Sans", sans-serif;
}
.nomeTitulo{
    font-size: 50px;
    color: #26b9dd;
    font-family: "Open Sans", sans-serif;
    width: 12ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(11), blinking 0.5s infinite step-end alternate;
    text-shadow: 0 0 3px #26b9dd;
    text-align: center;
}
.divCenter{
    display: flex; 
    justify-content: center;
}

.divCenterBtn{
    display: flex; 
    justify-content: center;
    margin-top: 20px;
}
.divTexto{
    width: 34%;
    margin: 0;
}
.imgLogos{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.btnSocialLdk{
    background-color: transparent;
    border: 0.5;
    color: white;
    border-radius: 20px ;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-family: "Open Sans", sans-serif;
    border-style: solid;
    transition: all 0.5s ease;

    background: linear-gradient(90deg, #10b4dd 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 1s ease;
}
.btnSocialLdk:hover{
    background-position: 0 0;
    box-shadow: 0 0 12px 1px #10b4dd;

}
.btnSocialGit{
    background-color: transparent;
    border: 0.5;
    color: white;
    border-radius: 20px ;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-family: "Open Sans", sans-serif;
    border-style: solid;
    transition: all 0.5s ease;

    background: linear-gradient(90deg, blueviolet 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 1s ease;
}
.btnSocialGit:hover{
    background-position: 0 0;
    box-shadow: 0 0 12px 1px blueviolet;

}
.divEmp{
    height: 20px;
}
.btnCurriculo{
    background-color: transparent;
    border: 0.5;
    color: #ffffff;
    border-radius: 20px ;
    width: 310px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-family: "Open Sans", sans-serif;
    border-color: aliceblue;
    border-style: solid;
    transition: all 0.5s ease;

    background: linear-gradient(90deg, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 1s ease;
}
.btnCurriculo:hover{
    background-position: 0 0;
    box-shadow: 0 0 12px 1px white;
    color: black;

}


.btnLkd{
    border-color: #10b4dd;
}
.btnGt{
    border-color:blueviolet;
}
.imgPx{
   width: 35%;
   height: 60%;
   transition: all 0.5s;
}
.imgPx:hover{
    filter: drop-shadow(2px 2px 10px #10b4dd);
}
@keyframes typing {
    from{
        width: 0;
    }
}
@keyframes blinking {
    50%{
        border-color: transparent;
    }
}
.divBtnSc{
    display: flex;
}
.flip-card{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;

}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(-180deg);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    background-color: #121214;
   
}
.flip-card-back{
    transform: rotateY(180deg);
}
.tituloForm{
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: "Anton SC", sans-serif ;
    font-weight: bold;
}
.contTitForm{
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: "Anton SC", sans-serif ;
    font-weight: bold;
}
.imgFiap{
    border-radius: 14px;
    
}
.divContForm{
    display: flex;
    justify-content: center;
    width: 100%;
}
.textoCard{
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
    padding: 10px;
}
.divSobre{
    width: 100%;
    
    margin-top: 70px;
    display: flex;
    justify-content: center;
    
}
.imgEu{
    border: 2px;
    border-color: white;
    border-style: solid;
    width: 500px;
    margin-right: 300px;
    height: 600px;

}
.divTitSobre{
   justify-content: center;
   display: flex;
   font-family: "Anton SC", sans-serif ;
    font-weight: bold;

}
.divTxtSobre{
    width: 30%;
    font-size: 24px;
}
.divDiff{
    margin-left: 10px;
    color: #10b4dd;
    text-shadow: 0 0 5px #26b9dd;

}

.divLinhaSucinta{
    justify-content: center;
    background-color: #4d4f57;
    height: 1px;
    width: 400px;
}
.divTitHab{
    justify-content: center;
    display: flex;
    font-family: "Anton SC", sans-serif ;
     font-weight: bold;
     margin-top: 40px;
 
 }
 .divHabilidades{
    width: 100%;
    
 }
 .divContHab{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;

 }
 .divHab {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente, se necessário */
    margin: 10px; /* Espaço ao redor de cada div, opcional */
}

.imgHab {
    margin-right: 8px; /* Espaçamento entre a imagem e o texto */
    height: 32px;
    width: 32px;
}

.divTxtHab {
    margin: 0; /* Remove qualquer margem padrão */
    font-family: "Anton SC", sans-serif ;
     font-weight: bold;
     
}
.divDiffCont{
    margin-left: 10px;
    margin-right: 10px;
    color: #10b4dd;
    text-shadow: 0 0 5px #26b9dd;

}
.divContato{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
}
.divCxContato{
    border: #10b4dd;
    box-shadow: 0 0 12px 0.5px #10b4dd;
    width: 400px;
    height: 100%;
    border-style: solid;
    border-radius: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-top: 50px;
}
.btnLink{
    text-decoration: none;
}
.btnLink::after{
    text-decoration: none;

}
.Contatos{
    font-size: 21px;
    display: flex;
    align-items: center;
    font-family: "Anton SC", sans-serif ;
     font-weight: bold;
     height: 25px;
     margin-top: 15px;
}
.divLinhaSucintaCont{
    background-color: #4d4f57;
    height: 1px;
    width: 394px;
}
.TitCont{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10b4dd;
    border-radius: 32px 32px 0px 0px;
    width: 100%;

}

.ContMeuEmail{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.divProjetos{
    width: 100%;

}

.divImgProj{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    transition: 1s;
    margin: 30px;
    color: white;
    border: none;

}
.card:hover{
    height: 550px;
    background-color: rgb(255, 255, 255);

    color: black;
}
.card .img-box{
    position: absolute;
    width: 100%;
    height: 75%;
    top: 0px;
    transition: 0.5s;

}
.card:hover .img-box{
    top: -170px;
    scale: 0.75;
}
.card .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}
.card .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 240px;
    width: 100%;
    padding: 0px 50px;
    text-align: center;
    height:60px;
    overflow: hidden;
}

.card:hover .content{
    top: 210px;
    height: 350px;
    transition: 1s;

}
.textCard{
    text-align: justify;

}
.divDescricao{
    text-align: justify;
}
.btnProj {
    position: relative; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px;
    background-color: transparent; 
    color: black; 
    border: solid;
    border-color: #10b4dd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none; 
    font-size: 14px;


    background: linear-gradient(90deg, #10b4dd 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 1s ease;
}

.btnProj:hover {
    background-position: 0 0; /* Move o gradiente para preencher o botão da esquerda para a direita */
    color: white; /* Mantém a cor do texto branca */
    
}
.footer{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.txtCont{
    margin: 0;
}
.certificados{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.cardCert {
    background-color: rgba(37, 37, 37, 0);
    width: 300px;
    height: 400px;
    margin: 0 0 0 50px;
    border-end-end-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative; /* Necessário para posicionar o botão em relação ao card */
    transition: all 0.5s;

}
.cardCert:hover{
    box-shadow: 0 0 12px 1px white;

}

.textCert {
    color: white;
    font-family: "Anton SC", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.imgCert {
    width: 300px;
    height: 250px;
    border-start-end-radius: 19px;
}

.btnCert {
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px;
    background-color: transparent; 
    color: white; 
    border: solid;
    border-color: #10b4dd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none; 
    font-size: 14px;


    background: linear-gradient(90deg, #10b4dd 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 0.5s ease;
}

.btnCert:hover {
    background-position: 0 0; /* Move o gradiente para preencher o botão da esquerda para a direita */
    color: white; /* Mantém a cor do texto branca */
    
}

@media screen and (max-width:1020px) {
    /* corpo do site */
    .divApre{
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .titulo{
        width: 100%;
        justify-content: right;
        
    }
    .divCenter{
        margin-top: 100px;
    }
    .divTexto{
        width: 100%;
    }
    
    .imgPx{
        width: 100%;
    }
    .divSobre{
        flex-direction: column;
    }
    .divTxtSobre{
        width: 100%;
        font-size: medium;
        padding: 15px;
    }
    .divContHab{
        flex-direction: column;
    }
    .flip-card{
        margin: 0;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .certificados{
        flex-direction: column;
        margin: 0;
    }
    .cardCert{
        margin: 0;
        margin-bottom: 20px;
        border: solid black;
        border-width: 0.5px;
    }
    .divImgProj{
        flex-direction: column;
    }
    .divContForm{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divContato{
        flex-direction: column;
        height: 350px;
        width: 100%;
    }
    .divCxContato{
        width: 100%;
    }
    footer{
        margin-top: 100px;
    }
    .divCxContato{
        height: 100px;
        width: 100%;
    }
    
    .imgEu{
        width: 100%;
    }
    
}